.navbar.bg-teal {
    color: #fff;
    background-color: #209086 !important;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 12px -5px rgba(54, 124, 91, 0.527);
}
.text-teal {
    color: #ffff;
    font-weight: 400;
}
.navbar-portal {
    margin: 0;
}
.header-main-pic {
	min-height:380px;
    background: transparent;
}

.section.no-pad-bot {
    padding-bottom: 0;
}
.logo {
    max-width: 100%;
    height: auto !important;
}

.nav-item {
    color: #444;
    transition: color 0.3s , border-left 0.2s;
    border-left: 0px solid #209086;
}
.nav-item.active {
    color: #206290;
    border-left: 5px solid #209086;
}

.nav-item:hover{
    color: #206290;
    border-left: 5px solid #209086;
    
}

/* .nav-link.link-portal:hover{
    border-bottom: 5px solid #209086;
    
} */
