.navbar.bg-teal {
    color: #fff;
    background-color: #209086 !important;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 12px -5px rgba(54, 124, 91, 0.527);
}
.bg-teal {
    color: #fff;
    background-color: #209086 !important;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 12px -5px rgba(54, 124, 91, 0.527);
}
.bg-blue-dark {
    color: #fff;
    background-color: #206290 !important;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 12px -5px rgba(54, 96, 124, 0.527);
}
.text-teal {
    color: #209086;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.teal      { color: #209086; }
.material-icons.orange    { color: #FB8C00; }
.material-icons.purple    { color: #4e2090; }
.material-icons.blue-dark { color: #206290; }
.material-icons.blue      { color: #1565c0; }

/* .text-white {
    color: white;
} */
.navbar-portal {
    margin: 0;
}
.header-main-pic {
    min-height:420px;
    height: auto;
    background: transparent;
}

.section.no-pad-bot {
    padding-bottom: 0;
}
.logo {
    max-width: 90%;
    height: auto !important;
}
/* .off-canvas-sidebar .navbar .navbar-collapse .navbar-nav .nav-item.active >a {
    color: #206290;
    font-weight: bold;
}
.off-canvas-sidebar .navbar .navbar-collapse .navbar-nav .nav-item:hover{
    color: #206290;
}

.off-canvas-sidebar .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #444;
    transition: color 0.3s , border-left 0.2s;

}

.off-canvas-sidebar .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover{
    color: #206290;
}

.off-canvas-sidebar .navbar-toggler .navbar-toggler-icon{
    background-color: #444 !important;
} */


.nowrap-container {
    flex-wrap: nowrap !important;
}

/* .nav-link.link-portal:hover{
    border-bottom: 5px solid #209086;
    
} */

.action-section {
    padding: 40px 20px 110px;
    margin: 0 auto;
    max-width: 970px;
    position: relative;
    text-shadow: 0 0 6px #333;
}

.titulo-sistema h1 {
    color: #fff;
    font-weight: bold;
    font-size: 34px;
    margin: 0px;
}

.btn-border {
    border-bottom: 5px solid #145a54 !important;
}
.btn-border:hover {
    background-color: #3c9e95 !important;
    border-bottom-color: #316f69 !important;
}

.blockquote-footer {

    color: #abc4d5;
}

.banner-separator {
    /* height: 5px; */
    background-color: #4e2090;
}

.section-float {
    overflow: hidden;
    border-top: 1px solid #b3b3b3;
}

.section-float-content {
    max-width: 970px;
    margin: 0 auto;
    padding: 60px 20px;
    position: relative;
    min-height: 550px;  
}

/* .section-img {
    overflow: hidden;
    position: absolute;
    top: 70px;
    right: auto;
    left: 60%;
} */

.img-responsive {
    width: 95%;
}

.icon-block {
    padding: 0 15px;
}

/* .icons-large {
    font-size: 3.56rem;
} */

/* .content-panel{
	right: 40px;
	left: 280px;
	top: 0px;
	position: absolute;
	padding-bottom: 30px;
}
.content-panel h2{
	font-size: 110px;
	padding: 10px 0px 20px 0px;
	margin-top: 52px;
	color: #fff;
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.content-panel p{
	font-size: 18px;
	padding: 10px;
	line-height: 24px;
	color: #fff;
	display: inline-block;
	background: black;
	padding: 10px;
	margin: 3px 0px;
} */
/* .panel{
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	margin-top: -150%;
	background-color: transparent;
	opacity: 0;
	z-index:2;
	-webkit-transition: opacity .6s ease-in-out;
	-moz-transition: opacity .6s ease-in-out;
	-o-transition: opacity .6s ease-in-out;
	-ms-transition: opacity .6s ease-in-out;
	transition: opacity .6s ease-in-out;
}
.panel:target{
	opacity: 1;
	margin-top: 0%;
} */


.choice {
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
}

.choice .icon{
    text-align: center;
    vertical-align: middle;
    height: 116px;
    width: 116px;
    border-radius: 50%;
    color: #999999;
    margin: 0 auto 20px;
    border: 4px solid #CCCCCC;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.choice i {
    font-size: 40px;
    line-height: 111px;
}

.choice input[type="checkbox"] {
    position: absolute;
    left: -10000px;
    z-index: -1;
}

 .choice:hover .icon,
 .choice.active .icon {
  border-color: #2ca8ff;
}

.card-collapse .card-header a:hover, .card-collapse .card-header a:active, .card-collapse .card-header a[aria-expanded="true"] {
    color: #209086;
}

.footer-portal {
    background: #6c7073;
    color: #fff;
    padding: 40px 0;
    font-size: 14px;
    position: static !important;
}

.text-nav-footer {
    margin: 2px;
}